body {
    background-image: url("https://ma-hub.imgix.net/wp-images/2019/05/29222105/royalty-free-music-Ambient.jpg?w=1600&h=850&auto=format");
}

.Music-heading {
  text-align: center;
  color: antiquewhite;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit-form {
    text-align: center;
    color:antiquewhite
}

.card {
  text-align: center;
  background-image: linear-gradient(to bottom left,aqua, #9FE2BF,#4169E1);
  border: #6082B6 solid 1px;
  border-radius: 7px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  flex-direction: column;
}  

.card:hover {
  color: var(--white);
  background-image: linear-gradient(white, gray);
}

#main-page #music-list {
  padding: 3rem 0 3rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  /* scroll-snap-type: x mandatory */
  overflow-x: scroll
}

.album-cover {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.listen-button {
    position: relative;
    background-color: #36454F;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: greenyellow;
    font-size: 18px;
    justify-self: center
}
/* #create-button {
  
} */