body {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 2000px;
}
 
.Music-heading {
text-align: center;
color: rgba(40,40,40, 0.8);
font-family: "Bubblegum Sans";
font-size: 90px;
text-shadow: 5px 1px #6082B6;
margin-bottom: 0px;
/* font-family: "Bowlby One SC"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;  */
/* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/617/161/small/abstract-gradient-pastel-blue-and-purple-background-neon-pastel-color-template-for-website-or-presentation-free-free-vector.jpg"); */
}

.anchors {
  text-align: center;
  font-size: 25px;
}

#music-list {
  background-color: rgba(40,40,40, 0.4);
}

.submit-form {
  text-align: center;
  color: white;
  font-size: 25px;
  position: sticky; top:0;
  background-color: rgba(195, 177, 225, 0.2);
}

.card {
text-align: center;
/* background-image: linear-gradient(to bottom left,#282828, #585858,#282828); */
/* border: #6082B6 solid 1px; */
border-radius: 7px;
padding: 1rem;
width: 15rem;
height: 20rem;
display: inline-grid;
margin: 1rem 2rem;
flex-direction: column;
background-color: rgba(40,40,40, 0.6);
color: white;
box-shadow: 10px 10px 8px .5px #000000;
}  

.card:hover {
/* color: var(--white); */
/* background-color: rgba(40,40,40, 0.8); */
background-image: linear-gradient(#282828, #383838 ,#282828);
color: white;

}

#main-page #music-list {
padding: 3rem 0 3rem 2rem;
margin: 0;
display: flex;
flex-direction: row;
overflow-x: scroll
}

.album-cover {
justify-self: center;
height: 12rem;
width: auto;
}

.listen-button {
  position: relative;
  background-color: #36454F;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: greenyellow;
  font-size: 18px;
  justify-self: center
}

.video-Div {
text-align: center;
background-color: #6082B6;
border-radius: 7px;
margin-right: 450px;
margin-left: 450px;
margin-top: 10px;
}

#hot-artist-title {
text-align: center;
color: #3F00FF;
font-size: 40px;
background-color: black;
margin-left: 80px;
margin-right: 80px;
padding-top: 50px;
}

.name {
text-align: center;
color: antiquewhite;
}

p {
text-align: center;
color: antiquewhite;
}

.hot-div {
text-align: center;
display: grid;
padding-bottom: 50px;
background-color: rgba(40,40,40, 0.4);
margin-left: 20%;
margin-right: 20%;
color: antiquewhite;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: (4, 5vw);
grid-gap: 5px;
}

.hot-div img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.ha1 img{
  height: 150px;
  border-radius: 7px;
}

.ha2 img{
width: 250px;
height: 180px;
border-radius: 7px;
}

.ha3 img {
  width: 250 px;
  height: 180px; 
  border-radius: 7px;
}

.ha4 img{
  width: 250px;
  height: 150px;
  text-align: center;
  border-radius: 7px;
}

.ha5 img {
  height: 190px;
  border-radius: 7px;
}

.ha6 img {
  height: 190px;
  border-radius: 7px;
}

.ha7 img {
  height: 190px;
  border-radius: 7px;
}

.ha8 img{
  height: 180px;
  border-radius: 7px;
}

/* .user-pic img { */
/* display: inline;
float: left;
padding: 150px;
width: 25%;
text-align: -webkit-match-parent; */
/* } */


.user-pic {
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (1, 5vw);
  grid-gap: 5px;
  padding-top: 50px;
  padding-bottom: 250px;
}


#duggan img {
width: 125px;
border-radius: 50%;
} 

#mason img {
width: 125px;
border-radius: 50%;
}

#laurence img {
width: 125px;
border-radius: 50%;
}
 
.ourinfo h3 {
  font-size: 0px;
  /* text-align: center; */
} 

#regan img {
width: 125px;
border-radius: 50%;
}
p.hide{
font-size: 0px;
}
.card p {
font-size: 0px;
}

h3 {
  font-size: 15px;
}